.env
venv/
__pycache__/
db.sqlite3

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Django ---
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# --- Media & Static ---
media/
!media/.gitkeep
staticfiles/

# --- Environments ---
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# --- IDEs & Editors ---
.vscode/
.idea/
*.iml
*.code-workspace

# --- OS ---
.DS_Store

# --- Testing ---
.coverage
htmlcov/
.pytest_cache/

# --- Celery ---
celerybeat-schedule
celerybeat.pid

# -- teams generated passwords ---
secure_data/
team_passwords.csv
*.csv